@import "tailwindcss";


* {

 
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  line-height: 1.5;

  color: white;
}


a {
  text-decoration: none;
  color: inherit;
}


img {
  max-width: 100%;
  display: block;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.bartle{
  font-family: "BBH Bartle", sans-serif;
}
.main {
  background-image: url("../src/assets/main.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
}
.main .main-heading{
  text-align: center;
  padding-top: 15rem;
  font-size: 3rem;
  font-family: "BBH Bartle", sans-serif;
}
.li-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.li-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.4s ease;
}

.li-underline:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
@media (max-width: 1024px) {
  .main .main-heading {
    padding-top: 10rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .main .main-heading {
    padding-top: 6rem;
    font-size: 2rem;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .main .main-heading {
    padding-top: 10rem;
    font-size: 1.5rem;
  }
}
